@page
@model HelloWeb.App.Frontend.Pages.ListVeterinaryModel
@{
}

<h1>Lista de Información Veterinario</h1>
<form method="get">
  <label for="consultar">Save: </label>
  <input type="text" name="consulta" />
  <button type="submit">presionar </button>
</form>
<table class="table">
  @foreach (var Saludos in Model.informa)
  {

    <tr>
      <td>@Saludos.NameVet</td>
      <td>@Saludos.LastNameVet</td>
      <td>@Saludos.PhoneVet</td>
      <td>@Saludos.ProfCard</td>
      
      <td>
        <a class="btn btn-primary table-btn" asp-page="./DetailsVeterinary" asp-route-infoId="@Saludos.Id">
          <i class="fas fa-info-circle fa-lg"></i </a>
      </td>

      <td>
        <a class="btn btn-primary table-btn" asp-page="./EditVeterinary" asp-route-infoId="@Saludos.Id">
          <i class="fas fa-address-book fa-lg" aria-hidden="true"></i>
        </a>
      </td>
    </tr>
  }
</table>

<a asp-page=".\EditVeterinary" class="btn btn-primary">Add Informacion</a>
<a asp-page=".\Delete" class="btn btn-primary">Deleted Informacion</a>